/* App.css */

/* Add global styles here if needed */
@import "./node_modules/bootstrap/scss/bootstrap";

// div {
//     margin: 20px;
//   }
  
//   input {
//     padding: 8px;
//     margin-bottom: 10px;
//   }
  
//   button {
//     padding: 8px;
//     margin: 5px;
//     cursor: pointer;
//     border: none;
//     background-color: lightgray;
//   }
  
//   button.active {
//     background-color: rgb(95, 139, 155);
//   }
  
//   /* UserDetails.css */
  
//   h2 {
//     color: navy;
//   }
  
//   p {
//     margin: 5px 0;
//   }
  
  /* UserList.css */
  
  /* No specific styles for UserList in this example */
  