/* UserList.css */
@import "./node_modules/bootstrap/scss/bootstrap";

.button-container {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px;
  margin: 5px;
  cursor: pointer;
  border: none;
  background-color: rgb(201, 10, 10);
  text-align: left;
  transition: background-color 0.3s;
}

button.active {
  background-color: blue;
}

/* Hide the checkbox */
input[type="checkbox"] {
  display: none;
}

/* Accordion content */
div.panel {
  width: 60%;
  display: none;
  padding: 0 18px;
  overflow: hidden;
  background-color: white;
}

/* Style for the accordion content */
div.panel p {
  margin: 5px 0;
}

div.center {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 42rem;
  border: 1px solid #eaf0ea;
  // border: 3px solid green;
  /* padding: 10px; */
}

.list-para{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 2%;
}
// div p {
//   display: flex;
//   flex-direction: row;
//   justify-content: left;
//   padding-left: 2%;
// }

.search{
  margin-bottom: 2%;
  width: 100%;
}

.full-width-card {
  width: 100%;
  margin: 0;
  background-color: white;
}

.u-name{
  padding-left: 10%;
}
.form-rounded {
  border-radius: 1rem;
  }

  .ReactModalPortal{
    width:60%;
    height:40%
  }
// .user-picture {
//   border-radius: 50%;
// }
